<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acuant_username</key>
	<string>xxxxxxx@acuantcorp.com</string>
	<key>acuant_password</key>
	<string>xxxxxxxxx</string>
	<key>acuant_subscription</key>
	<string>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
	<key>frm_endpoint</key>
	<string>https://frm.acuant.net/api/v1</string>
	<key>med_endpoint</key>
	<string>https://medicscan.acuant.net/api/v1</string>
	<key>assureid_endpoint</key>
	<string>https://services.assureid.net</string>
	<key>liveliness_endpoint</key>
	<string>https://frm.acuant.net/api/v1</string>
</dict>
</plist>
